<hr><div class="alert alert-danger"><span class="" style="font-size: large;"><span class="" style="font-size: x-large;">So füllst du eine ABC-Liste aus:</span></span>

  </div><div><ul class="alert border-start border-5 border-danger text-danger"><li><span class="" style="font-size: large;">Fange nicht bei A an, sondern springe im Alphabet hin und her.</span></li><li><span class="" style="font-size: large;">Du kannst pro Buchstaben so viele Begriffe eintragen wie dir einfallen.</span><br></li><li><span class="" style="font-size: large;">Es macht nichts, wenn dir zu einem Buchstaben kein Begriff einfällt.</span><br></li></ul></div>
<hr>

<div class="defaulttemplate"><table class="table table-hover">
<tbody>
<tr class="">
<td class="template-field cell c0" style="width:25px;"><strong>Farbe: </strong></td>
<td class="template-token cell c1 lastcol" style=""> <label for="Farbe"><h4>Bitte Farbe wählen:</h4><input type="color" id="Farbe" name="Farbe" ></label>

<script>
// Farbe aus ColorPicker auslesen
var theInput = document.getElementById("Farbe");
var theColor = theInput.value;
theInput.addEventListener("input", function() {

// Farbcode (Hex) schreiben
document.getElementById("[[Farbe#id]]").value = theInput.value;

}, false);</script>

<br>
Aktueller Farbcode: [[Farbe]]</td>
</tr>
  <tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">A: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[A]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">B: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[B]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">C: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[C]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">D: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[D]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">E: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[E]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">F: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[F]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">G: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[G]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">H: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[H]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">I: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[I]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">J: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[J]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">K: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[K]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">L: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[L]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">M: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[M]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">N: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[N]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">O: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[O]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">P: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[P]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">Q: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[Q]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">R: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[R]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">S: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[S]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">T: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[T]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">U: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[U]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">V: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[V]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">W: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[W]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">X: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[X]]</span></strong></td>
</tr>
<tr class="">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">Y: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[Y]]</span></strong></td>
</tr>
<tr class="lastrow">
<td class="template-field cell c0" style=""><strong><span class="" style="font-size: large;">Z: </span></strong></td>
<td class="template-token cell c1 lastcol" style=""><strong><span class="" style="font-size: large;">[[Z]]</span></strong></td>
</tr>
</tbody>
</table>
</div> 