<div class="defaulttemplate"><table class="mod-data-default-template ##approvalstatusclass##">
<tbody><tr class="">
<td class="template-field cell c0" style="">A: </td>
<td class="template-token cell c1 lastcol" style="">[[A]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">B: </td>
<td class="template-token cell c1 lastcol" style="">[[B]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">C: </td>
<td class="template-token cell c1 lastcol" style="">[[C]]</td>
</tr>
<tr class="searchcontrols">
<td class="template-field cell c0" style="">Vorname (Autor/in): </td>
<td class="template-token cell c1 lastcol" style="">##firstname##</td>
</tr>
<tr class="searchcontrols lastrow">
<td class="template-field cell c0" style="">Nachname (Autor/in): </td>
<td class="template-token cell c1 lastcol" style="">##lastname##</td>
</tr>
</tbody>
</table>
</div>