<li class="wort">##delcheck## ##userpicture## ##user##: <span class="woerter">[[A]],[[B]],[[C]],[[D]],[[E]],[[F]],[[G]],[[H]],[[I]],[[J]],[[K]],[[L]],[[M]],[[N]],[[O]],[[P]],[[Q]],[[R]],[[S]],[[T]],[[U]],[[V]],[[W]],[[X]],[[Y]],[[Z]]</span>##more## ##edit## ##delete##</li>
