<section class="board"><div class="liste" style="border-left: [[Farbe]] solid 12px;width:100%;">
<table>
<tr><td style="vertical-align: middle;"><b>##userpicture##</b></td><td style="vertical-align: middle;">##user##</td></tr>
</table><hr>
<table width="100%">
<tr><td width="25px"><b>A:</b></td><td>[[A]]</td></tr>
<tr><td><b>B:</b></td><td>[[B]]</td></tr>
<tr><td><b>C:</b></td><td>[[C]]</td></tr>
<tr><td><b>D:</b></td><td>[[D]]</td></tr>
<tr><td><b>E:</b></td><td>[[E]]</td></tr>
<tr><td><b>F:</b></td><td>[[F]]</td></tr>
<tr><td><b>G:</b></td><td>[[G]]</td></tr>
<tr><td><b>H:</b></td><td>[[H]]</td></tr>
<tr><td><b>I:</b></td><td>[[I]]</td></tr>
<tr><td><b>J:</b></td><td>[[J]]</td></tr>
<tr><td><b>K:</b></td><td>[[K]]</td></tr>
<tr><td><b>L:</b></td><td>[[L]]</td></tr>
<tr><td><b>M:</b></td><td>[[M]]</td></tr>
<tr><td><b>N:</b></td><td>[[N]]</td></tr>
<tr><td><b>O:</b></td><td>[[O]]</td></tr>
<tr><td><b>P:</b></td><td>[[P]]</td></tr>
<tr><td><b>Q:</b></td><td>[[Q]]</td></tr>
<tr><td><b>R:</b></td><td>[[R]]</td></tr>
<tr><td><b>S:</b></td><td>[[S]]</td></tr>
<tr><td><b>T:</b></td><td>[[T]]</td></tr>
<tr><td><b>U:</b></td><td>[[U]]</td></tr>
<tr><td><b>V:</b></td><td>[[V]]</td></tr>
<tr><td><b>W:</b></td><td>[[W]]</td></tr>
<tr><td><b>X:</b></td><td>[[X]]</td></tr>
<tr><td><b>Y:</b></td><td>[[Y]]</td></tr>
<tr><td><b>Z:</b></td><td>[[Z]]</td></tr>
<tr><td></td><td style="text-align: right">##edit## ##delete## ##disapprove##</td></tr>
</table>
</div>
</section> 